@media (max-width: 48em) {
    .style-details, .dos-donts-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 50px;
        width: 100%;
    }

    .style-details-text {
        text-align: center;
    }
}